---
import AboutButtons from '../../components/about/buttons.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Dominick Vale - ⓒ 2024" class="about" renderer="about">
  <div class="col-span-10 col-start-2 flex h-full flex-col items-center justify-center pb-[10vh] md:pb-0">
    <h2 class="min-h-6 text-center text-base font-black tracking-button text-white">HELLO THERE.</h2>
    <h2 class="min-h-6 text-center text-base font-black tracking-button text-white">I'M SO GLAD THAT YOU MADE IT&nbsp;HERE.</h2>
    <p class="intro-paragraph mt-12 min-h-24 bg-blur-harder">
      Funny to know that the entire history of events in our universe led to this exact moment. You reading this was ~14 billion years in the making.
      <br /><br />Oh, right — sorry, you wanted to know about me. What are you interested in, specifically?
    </p>
    <AboutButtons
      l={{ link: '/about/whoami', text: 'YOU' }}
      r={{ link: '/about/whatido', text: 'YOUR SKILLS.' }}
    />
  </div>
</Layout>
