---
import AboutButtons from '../../components/about/buttons.astro'
import FakeLogs from '../../components/FakeLogs.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Dominick Vale - ⓒ 2024" data-menu-trigger="default" class="about" renderer="about">
  <div class="col-span-10 col-start-2 row-start-1 mt-12 flex flex-col md:col-span-6 md:col-start-2 md:row-start-1 md:mt-0">
    <FakeLogs />
  </div>

  <div class="col-span-10 col-start-2 row-span-3 row-start-1 mb-32 flex h-full flex-col items-center justify-center pb-[10vh] md:pb-0">
    <h2 class="min-h-6 text-center text-base font-black tracking-button text-white">I'M A</h2>
    <h2 class="min-h-6 text-center text-base font-black tracking-button text-white">FRONT-END DEVELOPER</h2>
    <div class="mt-12 flex gap-10 flex-col items-center justify-center">
      <div class="flex flex-col">
        <p class="intro-paragraph min-h-28">
          Lorem ipsum dolor sit amet consectetur. Interdum rutrum fermentum ultrices dictum nisi etiam morbi tincidunt. Massa risus at sapien
          tristique leo egestas Fermentum ut nulla curabitur odio nisl malesuada fermentum. Amet eget diam elementum tellus nisi quisque nisl
          suspendisse at. Massa risus at sapien tristique leo egestas Fermentum ut nulla curabitur odio nisl malesuada fermentum.
        </p>
      </div>
      <table class="text-xs min-h-36 md:w-80">
        <tbody>
          <tr class="text-wrap-pretty flex grid-cols-[5rem_1fr] flex-col items-center justify-center gap-1 text-center md:grid md:items-start">
            <th class="pl-0 pr-3 text-primary-darker md:text-left">SERVICES:</th>
            <td class="details-services md:text-left">DEVELOPMENT && DESIGN</td>
            <th class="pl-0 pr-3 text-primary-darker md:text-left">COMPANY:</th>
            <td class="details-company md:text-left">YOURS, MAYBE?</td>
            <th class="pl-0 pr-3 text-primary-darker md:text-left">MAIN TECH:</th>
            <td class="details-main-tech md:text-left">TYPESCRIPT, REACT, NEXTJS, REACT-NATIVE, THREEJS, TAILWIND, SCSS</td>
            <th class="pl-0 pr-3 text-primary-darker md:text-left">TECH USED:</th>
            <td class="details-tech min-w-32 md:text-left">
              GRAPHQL + APOLLO + POTHOS, C/C++, ANDROID NDK, KOTLIN, PYTHON, BASH, DOCKER, HANDLEBARS, EXPRESSJS
            </td>
          </tr>
        </tbody>
      </table>
      <AboutButtons class="mt-0" l={{ link: '/', text: 'OK' }} r={{ link: '/about/whoami', text: 'WHO ARE YOU?' }} />
    </div>
  </div>
</Layout>
