---
import AboutButtons from '../../components/about/buttons.astro'
import FakeLogs from '../../components/FakeLogs.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="What is Domenico Vale?" class="about" renderer="about">
  <div class="col-span-10 col-start-2 row-start-1 flex flex-col md:col-span-6 md:col-start-2 md:row-start-1 md:mt-0">
    <FakeLogs />
  </div>

  <div class="col-span-10 col-start-2 row-span-3 row-start-1 flex h-full flex-col items-center justify-start md:justify-center mb-[10vh] md:pb-0">
    <h2 class="min-h-6 text-center text-base font-black tracking-button text-white mt-12 md:mt-0">I'M A</h2>
    <h2 class="min-h-6 text-center text-base font-black tracking-button text-white">FRONT-END DEVELOPER</h2>
    <div class="mt-12 flex flex-col items-center justify-center gap-10">
      <div class="flex flex-col">
        <p class="intro-paragraph min-h-28">
          Well, more of a creative developer. I'm fairly versatile. I can work on any web project, react-native, desktop, whatever you need. I have a
          pretty keen eye for design, and love to highlight unique qualities in my works. If needed i can and will love to dive deep into technologies
          that are outside my comfort zone.
        </p>
      </div>
      <table class="min-h-28 text-xs md:w-80">
        <tbody>
          <tr class="text-wrap-pretty grid max-w-sm grid-cols-[5rem_1fr] items-start justify-center gap-1">
            <th class="bg-background-dark pl-0 pr-3 text-primary-darker text-left">SERVICES:</th>
            <td class="details-services"><span class="bg-background-dark">DEVELOPMENT && DESIGN</span></td>
            <th class="bg-background-dark pl-0 pr-3 text-primary-darker text-left">COMPANY:</th>
            <td class="details-company"><span class="bg-background-dark">YOURS, MAYBE?</span></td>
            <th class="bg-background-dark pl-0 pr-3 text-primary-darker text-left">MAIN TECH:</th>
            <td class="details-main-tech"><span class="bg-background-dark">TYPESCRIPT, REACT, NEXTJS, REACT-NATIVE, THREEJS, TAILWIND, SCSS</span></td>
            <th class="bg-background-dark pl-0 pr-3 text-primary-darker text-left">TECH USED:</th>
            <td class="details-tech min-w-32">
              <span class="bg-background-dark"> GRAPHQL + APOLLO + POTHOS, C/C++, ANDROID NDK, KOTLIN, PYTHON, BASH, DOCKER, HANDLEBARS, EXPRESSJS </c>
            </td>
          </tr>
        </tbody>
      </table>
      <AboutButtons class="mt-0" l={{ link: '/', text: 'OK' }} r={{ link: '/about/whoami', text: 'WHO ARE YOU?' }} />
    </div>
  </div>
</Layout>
