---
import StatusItem from '../../components/StatusItem.astro'
import Layout from '../../layouts/Layout.astro'
import BlogEntry from '../../components/blog/BlogEntry.astro'
import { getCollection } from 'astro:content'
import NextPageBtn from '../../components/NextPageBtn.astro'

const lastUpdated = new Date().toLocaleDateString('en-GB')
const allPosts = await getCollection('blog')
---

<Layout title="Blog — Dominick Vale" renderer="blog">
  <section id="blog-header" class="relative col-span-10 col-start-2">
    <div class="relative my-8 mb-16 flex h-max flex-col sm:mb-4 sm:mt-0 sm:flex-row tallest:mb-0">
      <h1
        class="mt-[2vh] font-display text-[15vw] font-black leading-[100%] sm:mt-[8vh] md:text-8xl lg:text-[calc(5vw+6.2vh)]"
        data-aberration="0.8"
        data-menu-trigger="text"
        aria-label="BLOG"
      >
        BLOG
      </h1>
      <div
        id="blog-blurred-bg"
        class="bg bg-blur cut-corner absolute left-[-45rem] top-[5.5vh] z-[-1] h-2/3 w-[55rem] sm:left-[-62%] sm:top-[60%] md:w-[60rem] lg:w-[70rem] xl:w-full"
      >
      </div>
      <div class="ml-1 mr-auto mt-2 min-h-8 gap-[7%] self-end sm:mb-6 sm:ml-4 lg:ml-6">
        <ul id="blog-status">
          <StatusItem filled class="text-xs md:text-xs" data-menu-trigger="text">UPDATED:&nbsp;{lastUpdated}</StatusItem>
          <StatusItem filled class="text-xs md:text-xs" data-menu-trigger="text">PROJ. CASES: 3</StatusItem>
        </ul>
      </div>
    </div>
    <h2
      class="mb-12 ml-3 hidden min-h-6 whitespace-nowrap font-mono text-xs font-black tracking-button text-inactive tall:text-base sm:tallest:block"
      data-menu-trigger="text"
    >
      UNCOORDINATED THOUGHTS AND PROJECT CASES
    </h2>
  </section>

  <section
    id="posts-container"
    class="max-w-screen no-scrollbar col-span-10 col-start-2 row-start-2 flex flex-row flex-wrap justify-center gap-x-[4vw] gap-y-[8vh] pb-[15vh]"
    tabindex="-1"
  >
    {
      allPosts.map((post, i) => (
        <a
          id={`${i}`}
          class="blog-article sm:my-0 xl:mx-[3rem] pt-3.5"
          href={`/blog/${post.slug}`}
          data-audio
          data-audio-mouseover="hover-1 pan:0.25 volume:0.05 rate:1.5"
          data-audio-mousedown="vibration-click pan:-0.5 volume:0.3"
        >
          <BlogEntry {...post.data} />
        </a>
      ))
    }
  </section>

  <div class="col-span-1 col-start-12 mb-14 ml-2 hidden h-full items-center sm:flex">
    <NextPageBtn href="/contact">???</NextPageBtn>
  </div>
</Layout>

<style is:global>
  #posts-container {
    max-width: 100vw;
  }

  #posts-container {
  }

  @media (min-aspect-ratio: 4/4) {
    #posts-container {
      @apply col-start-1;
      @apply col-span-12;
      @apply px-[8vw];
      @apply gap-12;
      overflow-x: scroll;
      overflow-y: hidden;
      flex-direction: row;
      justify-content: start;
      flex-wrap: nowrap;
      & > a {
        margin-bottom: auto;
        margin-top: auto;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 3.9999/4) {
    #posts-container {
      justify-content: center;
      margin-top: 8vh;
      padding-bottom: 10vh;
    }
  }
  .cut-corner {
    clip-path: polygon(100% 0, 100% 45%, 96% 100%, 0 100%, 0 0);
  }

  @screen sm {
    #posts-container {
      mask-image: unset;
    }
  }

  #posts-container::before {
    @apply sm:hidden;
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(0deg, rgba(17, 16, 16, 1) 50%, rgba(17, 16, 16, 0.1) 100%);
    pointer-events: none;
    z-index: 1;
  }

  .blog-article {
    .marquee,
    .marquee-tag,
    .marquee-dot {
      transition: all 0.05s ease-in;
    }
  }

  .blog-article:hover,
  .blog-article.active {
    .marquee {
      background-color: white;
    }
    .marquee-tag {
      color: var(--bg-dark);
    }
    .marquee-dot {
      background-color: var(--bg-dark);
    }
  }

  .blog-article.active .marquee > span,
  .blog-article:hover .marquee > span,
  .blog-article:focus .marquee > span {
    animation: marquee 30s infinite linear;
  }
</style>
