---
import Btn from '../Btn.astro'
import FakeLogs from '../FakeLogs.astro'
---

<div
  class="col-span-10 col-start-2 row-start-1 mt-12 flex flex-col md:col-span-6 md:col-start-2 md:row-start-1 md:mt-0"
>
  <FakeLogs />
</div>

<div
  class="col-span-10 col-start-2 row-span-3 row-start-1 mb-32 flex h-full flex-col items-center justify-center pb-[10vh] md:pb-0"
>
  <h2 class="mb-12 text-center text-base font-black tracking-button text-white">
    I'M A<br />FRONT-END WEB DEVELOPER
  </h2>
  <div class="md:ml-[7rem] flex max-w-2xl flex-col">
    <div class="flex flex-col md:flex-row justify-between gap-12">
      <div class="flex flex-col gap-10 justify-between">
        <p class="mx-auto h-auto md:h-24 text-center md:text-left md:min-w-64 max-w-xs text-xs text-white opacity-80 text-wrap-pretty">
          Lorem ipsum dolor sit amet consectetur. Interdum rutrum fermentum
          ultrices dictum nisi etiam morbi tincidunt. Massa risus at sapien
          tristique leo egestas Fermentum ut nulla curabitur odio nisl malesuada
          fermentum. Amet eget diam elementum tellus nisi quisque nisl
          suspendisse at. Massa risus at sapien tristique leo egestas Fermentum
          ut nulla curabitur odio nisl malesuada fermentum.
        </p>
        <Btn href="/home" class="hidden md:flex h-[4.5rem] w-52" frame>OK</Btn>
      </div>

      <div class="flex flex-col gap-10">
        <table class="md:w-80 text-xs">
          <tbody>
            <tr class="flex flex-col justify-center text-center items-center md:items-start md:grid grid-cols-[5rem_1fr] gap-1 text-wrap-pretty">
              <th class="pl-0 pr-3 md:text-left text-primary-darker">SERVICES:</th>
              <td class="md:text-left">DEVELOPMENT && DESIGN</td>
              <th class="pl-0 pr-3 md:text-left text-primary-darker">COMPANY:</th>
              <td class="md:text-left">YOURS, MAYBE?</td>
              <th class="pl-0 pr-3 md:text-left text-primary-darker">MAIN TECH:</th
              >
              <td class="md:text-left"
                >TYPESCRIPT, REACT, NEXTJS, REACT-NATIVE, THREEJS, TAILWIND,
                SCSS</td
              >
              <th class="pl-0 pr-3 md:text-left text-primary-darker">TECH USED:</th
              >
              <td class="min-w-32 md:text-left">
                GRAPHQL + APOLLO + POTHOS, C/C++, ANDROID NDK, KOTLIN, PYTHON,
                BASH, DOCKER, HANDLEBARS, EXPRESSJS
              </td>
            </tr>
          </tbody>
        </table>

        <Btn href="/home" class="hidden md:flex h-[4.5rem] w-52" frame>WHO ARE YOU?</Btn>
      </div>
    </div>
  </div>
</div>
