---
import Btn from '../Btn.astro'
import FakeLogs from '../FakeLogs.astro'
import Image from '../Image.astro'
---


<div class="row-start-2 col-start-2 col-span-2 hidden lg:flex items-end">
  <Image />
</div>
<div class="row-start-1 row-span-2 col-start-10 col-span-2 hidden lg:flex items-end">
  <Image cover class="h-2/3" />
</div>
<div
  class="col-span-10 col-start-2 row-start-1 mt-12 flex flex-col md:col-span-6 md:col-start-2 md:row-start-1 md:mt-0"
>
  <FakeLogs />
</div>

<div
  class="row-start-1 row-span-3 mb-32 col-span-10 col-start-2 flex h-full flex-col items-center justify-center pb-[10vh] md:pb-0"
>
  <h2 class="mb-12 text-center text-base font-black tracking-button text-white">
    I'M DOMINICK.<br />PLEASURE TO MEET YOU
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur. Interdum rutrum fermentum ultrices
    dictum nisi etiam morbi tincidunt. Massa risus at sapien tristique leo
    egestas posuere vestibulum.
  </p>
  <p>
    Fermentum ut nulla curabitur odio nisl malesuada fermentum. Amet eget diam
    elementum tellus nisi quisque nisl suspendisse at. Mi facilisi ridiculus
    ultrices elit enim posuere ut ultricies et. Aenean mollis pharetra dui leo
    morbi urna. Tempus adipiscing ligula nisi amet libero nulla ipsum velit.
    Nunc eget pellentesque at sem.
  </p>
  <p class="mt-4 max-w-sm text-center text-sm text-white opacity-80">
    Available for any kind of front-end development job, web or not.
  </p>
  <div
    class="mt-[8vh] flex w-full flex-col items-center justify-center gap-6 sm:w-[28rem] sm:flex-row sm:justify-between md:w-[32rem]"
  >
    <Btn href="/home" class="h-[4.5rem] w-52" frame>OK</Btn>
    <Btn href="/home" class="h-[4.5rem] w-52" frame>WHAT CAN YOU DO?</Btn>
  </div>
</div>

<style>
  p {
    @apply max-w-sm text-center text-xs text-white opacity-80;
    text-wrap: pretty;
  }
</style>
