---
import StatusItem from '../components/StatusItem.astro'
import Layout from '../layouts/Layout.astro'
import BlogEntry from '../components/BlogEntry.astro'

const lastUpdated = new Date().toLocaleDateString('en-GB')
const allWorks = await Astro.glob('../pages/works/*.mdx')
const allBlogs = await Astro.glob('../pages/blog/*.mdx')

const allPosts = [...allWorks, ...allBlogs]
---

<Layout title="Dominick Vale - ⓒ 2024">
  <section class="relative col-start-2 col-span-10">
    <div class="flex flex-col sm:flex-row h-max">
      <h1
        class="mt-[2vh] font-display text-[15vw] font-black leading-[100%] md:text-[calc(5vw+6.2vh)] tall:mt-[10vh]"
      >
        BLOG
      </h1>
      <div class="ml-1 sm:ml-4 mr-auto mt-2 gap-[7%] self-end sm:mb-6 lg:ml-6">
        <ul>
          <StatusItem class="text-xxs md:text-xs">UPDATED:&nbsp;{lastUpdated}</StatusItem>
          <StatusItem class="text-xxs md:text-xs">LEARNER</StatusItem>
        </ul>
      </div>
    </div>
    <h2
      class="hidden sm:block ml-3 whitespace-nowrap font-mono text-xs font-black tracking-button opacity-60 tall:text-base"
    >
      UNCOORDINATED THOUGHTS AND PROJECT CASES
    </h2>
  </section>

  <section
    class="max-w-screen no-scrollbar col-span-12 col-start-1 row-start-2 flex flex-col items-center sm:items-start sm:flex-row min-h-28 sm:overflow-y-hidden sm:overflow-x-scroll sm:pl-32"
  >
    {
      allPosts.map((work) => (
        <a class="my-[4vh] sm:my-0 sm:mx-[2vw] xl:mx-[3rem]" href={work.url}>
          <BlogEntry {...work.frontmatter} />
        </a>
      ))
    }
  </section>
</Layout>
