---
import '../style/main.css'
import Cursor from '../components/Cursor.astro'
import {
  ContactIcon,
  LabIcon,
  HomeIcon,
  WorksIcon,
  SettingsIcon,
  AboutIcon,
  BlogIcon,
  CopyIcon,
  ContextMenuIcon,
  DebugIcon,
  AudioIcon,
} from '../components/icons'
import Preloader from '../components/Preloader.astro'
---

<html lang="en" class="overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio 2024" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>WIP PORTFOLIO</title>
  </head>
  <!-- fonts -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  </style>

  <body id="root" class:list={['relative flex max-h-screen flex-col overscroll-none font-body']} data-menu-trigger="default">
    <canvas id="webgl" class="fixed top-0 z-0 h-full w-full bg-background-dark opacity-0 transition-opacity duration-1000 ease-in-out"></canvas>
    <Preloader />
  </body>

  <div id="_icons" class="hidden">
    <HomeIcon />
    <WorksIcon />
    <AboutIcon />
    <BlogIcon />
    <ContactIcon />
    <LabIcon />
    <SettingsIcon />
    <CopyIcon />
    <ContextMenuIcon />
    <DebugIcon />
    <AudioIcon />
  </div>

  <Cursor />
  <script>
    import '../app'
  </script>
</html>
