---
import Layout from '../layouts/Layout.astro'
import Btn from '../components/Btn.astro'
import StatusItem from '../components/StatusItem.astro'
import NextPageBtn from '../components/NextPageBtn.astro'
---

<Layout title="Dominick Vale - ⓒ 2024" data-menu-trigger="default">
  <section class="col-span-12 col-start-1 mt-6 flex justify-center sm:hidden">
    <NextPageBtn>WORKS</NextPageBtn>
  </section>
  <section class="col-span-10 col-start-2 row-span-4 row-start-2 flex flex-col content-start justify-end text-xs taller:pt-[17vh]">
    <div class="mt-4 flex justify-between sm:text-left">
      <div id="home-about" class="relative overflow-visible">
        <h2 class="relative flex items-center gap-2 text-primary">
          <svg
            class="mt-0. h-2.5 w-2.5 fill-primary"
            preserveAspectRatio="xMaxYMin meet"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.5813 7.07027L5.29069 1.77962L8.85149 1.77966L13.0739 6.00206L12.0057 7.07028L13.0739 8.13854L8.85144 12.361L5.29065 12.361L10.5813 7.07027Z"
            ></path>
          </svg>
          whoami
        </h2>
        <p class="my-3 select-none text-stone-300 sm:max-w-64 md:select-all" data-menu-trigger="text">
          reverse engineering, to mountain biking. Sounds interesting? I’m just the quiet, value-centered guy that gets the work done. My interests
          range from front-end web development all the way down to
        </p>
        <Btn
          href="/about"
          class="mt-1 w-max p-1"
          innerClass="!block"
          data-cursor-delay="2500"
          data-cursor-message="... What are you waiting for? Let's go! :D"
          data-cursor-timeout="0"
          data-audio
          data-audio-stopon="mouseout mousedown"
          data-audio-mouseover="vibration loop fadeIn:0.7 fadeOut:0.5 pan:-0.5"
          data-audio-click="vibration-click pan:-0.5 volume:0.3"
          data-text-scramble="READ MORE">READ MORE</Btn
        >
      </div>
      <div class="mb-14 hidden sm:flex">
        <NextPageBtn
          href="/works"
          class="p-2 text-inactive hover:text-white"
          data-cursor-delay="1000"
          data-cursor-message="Let's go, in 'n out.<br/>2 minutes adventure.">NEXT</NextPageBtn
        >
      </div>
    </div>
    <h1
      class="ml-[-0.05em] mt-14 text-nowrap font-display text-[9.2vw] font-black leading-[100%]"
      data-cursor-delay="2000"
      data-cursor-message="My actual name is Domenico"
      data-cursor-timeout="0"
      data-aberration="0.8"
    >
      DOMINICK VALE
    </h1>
    <!-- <h1 class="sr-only">DOMINICK VALE</h1> -->
    <!-- <img class="mt-6" src={nameSvg.src} /> -->
    <div class="mb-[10vh] mt-4 flex justify-between text-sm lg:mt-6 lg:gap-[7%]">
      <ul>
        <StatusItem class="text-nowrap" highlight>FRONT-END DEVELOPER</StatusItem>
        <StatusItem class="text-nowrap" highlight>CREATIVE DEVELOPER</StatusItem>
        <StatusItem class="text-nowrap">WANNABE ARTIST</StatusItem>
        <StatusItem>LEARNER</StatusItem>
      </ul>
      <ul>
        <StatusItem highlight
          >STATUS: <span
            class="text-success"
            data-cursor-delay="100"
            data-cursor-message="(full-time or not)"
            data-cursor-timeout="2500"
            data-cursor-type="success">AVAILABLE</span
          ></StatusItem
        >
      </ul>
      <ul class="ml-auto hidden flex-col gap-[7%] md:block lg:flex">
        <StatusItem highlight>AWARDS:</StatusItem>
        <StatusItem
          class="before:hidden"
          data-cursor-delay="2000"
          data-cursor-message="My mother says i'm<br/>really good with computers."
          data-cursor-timeout="0">COMING SOON :)</StatusItem
        >
      </ul>
    </div>
  </section>
</Layout>

<style>
  h1 {
    transition: text-shadow 0.1s ease-out;
  }
</style>
