---
import Layout from '../layouts/Layout.astro'
import Btn from '../components/Btn.astro'
import StatusItem from '../components/StatusItem.astro'
import NextPageBtn from '../components/NextPageBtn.astro'
---

<Layout title="Dominick Vale - ⓒ 2024">
  <section
    class="col-span-10 col-start-2 row-span-2 row-start-2 flex flex-col content-start justify-end text-xs"
  >
    <div class="mt-4 flex justify-between text-center sm:text-left">
      <div class="">
        <h2 class="text-primary">> whoami</h2>
        <p class="text-stone-300 sm:max-w-64">
          I’m just the quiet, value-centered guy that gets the work done. My
          interests range from front-end web development all the way down to
          reverse engineering, to mountain biking. Sounds interesting?
        </p>
        <Btn href="/about" class="mb-14 mr-auto mt-2">READ MORE</Btn>
      </div>
      <div class="mb-14 hidden sm:flex">
        <NextPageBtn>WORKS</NextPageBtn>
      </div>
    </div>
  </section>
  <section
    class="col-span-10 col-start-2 row-span-2 row-start-4 font-mono font-black"
  >
    <h1
      class="ml-[-0.05em] text-nowrap font-display text-[9.2vw] leading-[100%]"
    >
      DOMINICK VALE
    </h1>
    <!-- <h1 class="sr-only">DOMINICK VALE</h1> -->
    <!-- <img class="mt-6" src={nameSvg.src} /> -->
    <div class="mt-4 flex justify-between gap-[7%] text-sm lg:mt-6">
      <ul>
        <StatusItem highlight>FRONT-END DEVELOPER</StatusItem>
        <StatusItem highlight>CREATIVE DEVELOPER</StatusItem>
        <StatusItem>WANNABE ARTIST</StatusItem>
        <StatusItem>LEARNER</StatusItem>
      </ul>
      <ul>
        <StatusItem highlight
          >STATUS: <span class="text-success">AVAILABLE</span></StatusItem
        >
      </ul>
      <ul class="ml-[32%] hidden md:block">
        <div class="flex flex-col"></div>
        <StatusItem highlight>AWARDS:</StatusItem>
        <p class="font-mono text-xs font-normal text-inactive">
          COMING SOON :)
        </p>
      </ul>
    </div>
    <div class="mt-6 flex justify-center sm:hidden">
      <NextPageBtn>WORKS</NextPageBtn>
    </div>
  </section>
</Layout>
