<li class="radial-menu-item pointer-events-none flex flex-col justify-center items-center absolute top-[var(--y)] left-[var(--x)] translate-x-[-50%] translate-y-[-50%] z-10">
  <span class="radial-menu-item-label text-xs flex flex-col gap-1 justify-center items-center">
    <slot />
  </span>
</li>
