---
type Props = {
  id: string
  size: string
}

const { id, size } = Astro.props
---

<div
  id={id}
  class="fixed left-[var(--pos-x)] top-[var(--pos-y)] h-[var(--size)] w-[var(--size)] translate-x-[-50%] translate-y-[-50%] overflow-visible rounded-full"
  style=`--size: ${size};`
>
  <ul class="radial-menu relative h-full w-full">
    <slot />
    <svg
      class="radial-menu-shape absolute left-0 top-0 h-full w-full"
      width="100%"
      height="100%"
    >
      <defs><mask width="100%" height="100%"> </mask></defs>
    </svg>
    <div
      class="radial-menu-bg absolute left-0 top-0 h-full w-full rounded-full backdrop-blur-sm"
    >
    </div>
  </ul>
</div>

<style is:global>
  .radial-menu-bg {
    mask: var(--mask);
    -webkit-mask: var(--mask);
    z-index: -1;
  }
</style>
