@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-x-gap: 1.2rem;
  --grid-y-gap: .5rem;
}

html,
body {
  background-color: #111010;
  color: white;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.grid-bars {
  grid-template-columns: 1fr repeat(10, minmax(5rem, 7rem)) 1fr;
  gap: var(--grid-x-gap) var(--grid-y-gap);
  height: 1rem;
  margin-top: 2rem;
}
