@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-x-gap: 1.2rem;
  --grid-y-gap: 0.5rem;
  --primary: rgb(255, 190, 0);
  --lorenz: rgb(255, 176, 102);
  --primary-02: color-mix(in srgb, var(--primary), var(--lorenz) 100%);
  /* --primary: #ff3d00; */
  --inactive: #a0a0a0;
  --label: #d7d7d7;
  --success: #96d800;
  --primary-darker: color-mix(in srgb, var(--primary), #000 10%);
  --primary-lighter: color-mix(in srgb, var(--primary), #fff 10%);
  --primary-lightest: color-mix(in srgb, var(--primary), #fff 90%);
  --lines: #484848;
  --bg-dark: #110f10;
  --bg-dark-light: rgba(36, 34, 34, 0.28);
  --bg-dark-lightest: rgba(66, 64, 64, 0.28);
  --bg-dark-02: rgba(17, 16, 16, 0.2);
  --bg-dark-05: rgba(17, 16, 16, 0.5);
  --bg-dark-09: rgba(17, 16, 16, 0.9);
  --blur-radial: 3px;
  --copy: #d3c4c4;
  --golden-glow: 0 0 4px color-mix(in srgb, transparent, var(--primary) 80%);
  --golden-glow-harder: 0 0 4px color-mix(in srgb, transparent, var(--primary) 100%);
}

::selection {
  color: var(--bg-dark);
  background-color: var(--primary);
}

*:focus-visible {
  outline: 1px solid white;
}

html,
body {
  background-color: #111010;
  color: white;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* .no-cursor * { */
/*   cursor: none !important; */
/* } */

/* .no-cursor .lil-gui,  */
/* .no-cursor .lil-gui * { */
/*   cursor: auto !important; */
/* } */

.lil-gui {
  --font-family: Inconsolata;
  --font-family-mono: Inconsolata;
  --font-size: 0.75rem;
  --input-font-size: 0.658rem;
  --number-color: var(--primary);
  .controller button {
    @apply uppercase;
  }
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .text-wrap-pretty {
    text-wrap: pretty;
  }
  .text-wrap-balance {
    text-wrap: balance;
  }
}

.grid-bars {
  grid-template-columns: 1fr repeat(10, minmax(5rem, 7rem)) 1fr;
  gap: var(--grid-x-gap) var(--grid-y-gap);
  height: 1rem;
  margin-top: 2rem;
}

.grid-hero {
  grid-template-columns: 1fr repeat(10, minmax(5rem, 7rem)) 1fr;
  gap: var(--grid-x-gap) var(--grid-y-gap);
  height: 1rem;
  margin-top: 2rem;
}

@media (max-width: 1024px) {
  .grid-hero {
    grid-template-columns: repeat(6, 1fr);
  }
}

.fui-frame {
  position: relative;
  padding: theme(padding.4);
}

.dot {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: white;
  &--small {
    width: 0.125rem;
    height: 0.125rem;
  }
}

.fui-corners {
  --frame-bg-stroke-w: 1px;
  --frame-bg-size: 5px;
  --color: white;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background:
    linear-gradient(90deg, var(--color) var(--frame-bg-stroke-w), transparent 0) 0 0,
    linear-gradient(180deg, var(--color) var(--frame-bg-stroke-w), transparent 0) 0 0,
    linear-gradient(270deg, var(--color) var(--frame-bg-stroke-w), transparent 0) 100% 0,
    linear-gradient(180deg, var(--color) var(--frame-bg-stroke-w), transparent 0) 100% 0,
    linear-gradient(270deg, var(--color) var(--frame-bg-stroke-w), transparent 0) 100% 100%,
    linear-gradient(0deg, var(--color) var(--frame-bg-stroke-w), transparent 0) 100% 100%,
    linear-gradient(90deg, var(--color) var(--frame-bg-stroke-w), transparent 0) 0 100%,
    linear-gradient(0deg, var(--color) var(--frame-bg-stroke-w), transparent 0) 0 100%;

  background-repeat: no-repeat;
  background-size: var(--frame-bg-size) var(--frame-bg-size);
  border: var(--frame-bg-stroke-w) solid rgba(255, 255, 255, 0.2);
}
.fui-corners.animated {
  animation: slight-flickering 0.3s infinite alternate;
}

.writing-vlr {
  writing-mode: vertical-lr;
}

.vertical-text--left {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  white-space: nowrap;
}

.vertical-text--right {
  transform: rotate(90deg);
  transform-origin: right top;
  white-space: nowrap;
}

.bg-striped {
  --color: color-mix(in srgb, var(--lines), var(--bg-dark-02) 90%);
  opacity: 0.5;
  background: repeating-linear-gradient(45deg, var(--color), var(--color) 10px, transparent 13px, transparent 20px);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--lines);
    border: 1px solid transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--lines) transparent;
}

scrollbar-button {
    display: none;
}

/* RADIAL MENUS */

@media (min-aspect-ratio: 4/4) {
  .radial-menu-wrapper.mobile {
    display: none;
  }
}
.radial-menu-bgs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.radial-menu-wrapper {
  position: fixed;
  left: var(--pos-x);
  top: var(--pos-y);
  height: var(--size);
  width: var(--size);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.radial-menu {
  position: relative;
  width: 100%;
  height: 100%;
  touch-action: none;
}
.radial-menu-wrapper.mobile {
  bottom: 6vh;
  left: 50%;
  top: auto;
  transform: translate(-50%, 50%);
  .radial-menu-item-label{
    color: var(--bg-dark);
  }
  .radial-menu-item-bg{
    background-color: white;

    &[data-highlighted='true'] {
      background: radial-gradient(rgba(85, 80, 80, 0.9) var(--progress), var(--bg-dark) var(--progress));
    }
  }
  .radial-menu-item svg path{
    fill: var(--bg-dark);
  }
  .radial-menu-item[data-highlighted='true'] {
    path {
      @apply fill-white;
    }
    @apply text-white;
    .radial-menu-item-label {
      color: white;
    }
  }
}
.radial-menu-hidden:not(.mobile) {
  opacity: 0;
  pointer-events: none;
  .radial-menu-thumb {
    pointer-events: none;
  }
}
.radial-menu-hidden {
  pointer-events: none;
  .radial-menu-bgs,
  .radial-menu-item,
  .radial-menu-shape {
    opacity: 0;
  }
}
.radial-menu-item-bg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: var(--bg-dark-09);

  clip-path: var(--clip-path);
  z-index: -1;
  &[data-highlighted='true'] {
    background: radial-gradient(white var(--progress), rgba(255, 255, 255, 0.9) var(--progress));
  }
  @media only screen and (min-width: 768px) {
    backdrop-filter: blur(var(--blur-radial));
  }
}
.radial-menu-item {
  @apply gap-1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  text-align: center;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  &[data-highlighted='true'] {
    path {
      @apply fill-background-dark;
    }
    @apply text-background-dark;
  }
}
.radial-menu-item-label {
  @apply text-xs;
}
.radial-menu-shape {
  position: relative;
}
.radial-menu-thumb {
  --x: 50%;
  --y: 50%;
  --size: 2.5rem;
  pointer-events: all;
  position: absolute;
  height: var(--size);
  width: var(--size);
  border-radius: 100%;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  z-index: 10;
  touch-action: none;
  user-select: none;
  svg {
    pointer-events: none;
  }
}
.radial-menu-thumb.mobile {
  transform: translate(-50%, -50%) scale(1.5);
  @apply bg-background-dark;
  svg path {
    @apply fill-white;
  }
  &.pressed {
    @apply bg-white;
    svg path {
      @apply fill-background-dark;
    }
  }
}

/******************************/

@layer components {
  .bg-blur {
    background-color: var(--bg-dark-05);
    backdrop-filter: blur(2px);
  }
  .bg-blur-harder {
    background-color: var(--bg-dark-05);
    backdrop-filter: blur(16px);
  }
  .bg-blur-max {
    background-color: var(--bg-dark-05);
    backdrop-filter: blur(24px);
  }
}

.font-outline {
  --color: #949494;
  text-shadow:
    -1px -1px 0 var(--color),
    1px -1px 0 var(--color),
    -1px 1px 0 var(--color),
    1px 1px 0 var(--color);
}

.intro-paragraph {
  @apply max-w-lg md:max-w-[60%] mx-auto xl:max-w-lg text-center text-sm font-normal text-label bg-background-dark;
}

/* CODE BLOCKS OVERRIDES */
.astro-code {
  @apply !bg-background-dark-05;
  @apply text-sm;
}

/* LENIS RECOMMENDED */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@keyframes slight-flickering {
  0% {
    opacity: 0.85;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.95;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.9;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0.85;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes fast-blink {
  from {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fast-blink-short {
  from {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink-off {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0.5;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
