@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-x-gap: 1.2rem;
  --grid-y-gap: 0.5rem;
  --primary: #ff3d00;
  --inactive: #a7a7a7;
  --success: #96d800;
  --primary-darker: rgba(255, 46, 0, 0.78);
  --primary-lightest: #d3afaa;
  --lines: rgba(255, 255, 255, 0.2);
  --bg-dark: #111010;
}

html,
body {
  background-color: #111010;
  color: white;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.grid-bars {
  grid-template-columns: 1fr repeat(10, minmax(5rem, 7rem)) 1fr;
  gap: var(--grid-x-gap) var(--grid-y-gap);
  height: 1rem;
  margin-top: 2rem;
}

.grid-hero {
  grid-template-columns: 1fr repeat(10, minmax(5rem, 7rem)) 1fr;
  gap: var(--grid-x-gap) var(--grid-y-gap);
  height: 1rem;
  margin-top: 2rem;
}

@media (max-width: 1024px) {
  .grid-hero {
    grid-template-columns: repeat(6, 1fr);
  }
}

.fui-frame {
  position: relative;
  padding: theme(padding.4);
}

.fui-corners {
  --frame-bg-stroke-w: 1px;
  --frame-bg-size: 4px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background:
    linear-gradient(90deg, #fff var(--frame-bg-stroke-w), transparent 0) 0 0,
    linear-gradient(180deg, #fff var(--frame-bg-stroke-w), transparent 0) 0 0,
    linear-gradient(270deg, #fff var(--frame-bg-stroke-w), transparent 0) 100% 0,
    linear-gradient(180deg, #fff var(--frame-bg-stroke-w), transparent 0) 100% 0,
    linear-gradient(270deg, #fff var(--frame-bg-stroke-w), transparent 0) 100%
      100%,
    linear-gradient(0deg, #fff var(--frame-bg-stroke-w), transparent 0) 100%
      100%,
    linear-gradient(90deg, #fff var(--frame-bg-stroke-w), transparent 0) 0 100%,
    linear-gradient(0deg, #fff var(--frame-bg-stroke-w), transparent 0) 0 100%;

  background-repeat: no-repeat;
  background-size: var(--frame-bg-size) var(--frame-bg-size);
  border: var(--frame-bg-stroke-w) solid rgba(255, 255, 255, 0.2);
}

.vertical-text--left {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  white-space: nowrap;
}

.vertical-text--right {
  transform: rotate(90deg);
  transform-origin: right top;
  white-space: nowrap;
}

/* use data-active for active element */
.project-title:not([data-active]) {
  --i: 0;
  opacity: calc(1 / (var(--i) * 1.5));
  /* @TODO: remove scale, use font-size with  js */
  transform: scale(calc(1 / var(--i)));
  transform-origin: bottom left;
  margin-top: calc(12vh * (1 / var(--i)));
}
.project-title[data-active] {
  margin-top: 6vh;
  color: white;
  font-size: theme('fontSize.7xl'); /* will be calc dynamically in js */
}
