<div id="cursor-wrapper" class="hidden translate-[-100%_-100%] md:block md:translate-[0_0]">
  <svg
    id="cursor-ring"
    class="opacity-20"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle opacity="0.5" cx="12" cy="12" r="11.5" stroke="white"></circle>
  </svg>
  <svg
    id="cursor"
    class="opacity-0"
    width="8"
    height="8"
    viewBox="0 0 8 8"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="4" cy="4" r="4" fill="#FF3D00"></circle>
  </svg>
  <span id="cursor-text" class="font-mono text-xs text-inactive"></span>
</div>

<style>
  #cursor,
  #cursor-ring,
  #cursor-text {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: center;
    translate: -50% -50%;
  }
  #cursor-text {
    translate: 0% 0%;
  }
  #cursor-text.error {
    @apply text-error;
    @apply font-black;
    opacity: 1;
  }
  #cursor-ring, #cursor-text {
    mix-blend-mode: difference;
  }
</style>
