<div class="fake-logs pointer-events-none ml-4 mt-[8vh] hidden min-h-[7.2rem] flex-col text-xxs uppercase text-inactive opacity-60 md:flex">
  <pre>
    {
      `
{
    _load("JOB_SKILLS");
    // loading ...
`}
</pre>
  <pre class="mt-[-1rem]">
    {
      `
    // done.

`}
</pre>
  <pre class="mt-[-2.5rem]">
    {`

    _render(this, flush);
    if( web_dev ) {
      try{ 
      return center_div()
       }
     }

    _load("buttons");
    // loading ...

`}
  </pre>
  <pre class="mt-[-2.5rem]">
{ `
    // done.
    render(buttons);
    exit 0;
}
`}
  </pre>
</div>
