---
interface Props {}

const {} = Astro.props
---

<footer class="mb-12 text-xs fixed bottom-0 left-0 w-full">
  <ul class="grid grid-cols-layout gap-2">
    <li class="col-start-0"><p class="text-right">v2024.0.1</p></li>
    <div class="absolute left-0 right-0 flex justify-center">
      <p>QUICK MENU</p>
    </div>
    <li class="col-start-12"><p>10:00 AM (CET)</p></li>
  </ul>
</footer>
