---
interface Props {}

const {} = Astro.props
---

<div
  class="fixed inset-x-0 bottom-0 left-0 z-10 h-24 w-screen bg-background-dark md:bg-transparent"
>
</div>

<footer
  class="fixed bottom-10 left-0 z-10 w-full text-xs text-inactive lg:bottom-12 font-light"
>
  <ul class="grid grid-cols-12 items-center">
    <li
      class="col-span-5 col-start-2 row-span-1 row-start-1 select-none lg:col-span-1 lg:col-start-1 lg:text-right"
    >
      <p class="lg:mr-3">SOUND ON</p>
    </li>
    <div class="absolute left-0 right-0 hidden justify-center sm:flex">
      <div class="flex flex-col items-center gap-2">
        <svg
          class="quick-menu-icon"
          width="10"
          height="17"
          viewBox="0 0 10 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g opacity="0.5">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10 7.72763H0V13.9094C0 15.6165 1.37761 17.0004 3.07692 17.0004H6.92308C8.62239 17.0004 10 15.6165 10 13.9094V7.72763ZM9.23077 8.50035H0.769231V13.1367C0.769231 14.8438 2.14684 16.2276 3.84615 16.2276H6.15385C7.85316 16.2276 9.23077 14.8438 9.23077 13.1367V8.50035Z"
              fill="#D9D9D9"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 6.56854H4.61538V0.386719H3.07692C1.37761 0.386719 0 1.77059 0 3.47763V6.56854ZM0.769231 5.79581H3.84615V1.15945H2.82048C1.68767 1.15945 0.769231 2.19733 0.769231 3.47763V5.79581Z"
              fill="#D9D9D9"></path>
            <path
              id="right-mouse-btn-icon"
              d="M10 6.56854H5.38462V0.386719H6.92308C8.62239 0.386719 10 1.77059 10 3.47763V6.56854Z"></path>
          </g>
        </svg>
        <p>QUICK MENU</p>
      </div>
    </div>
    <li
      class="col-span-5 col-start-7 row-span-1 row-start-1 justify-start lg:col-span-1 lg:col-start-12 lg:ml-2 lg:flex"
    >
      <p id="clock" class="min-w-24 select-none text-right lg:text-left">
        00<span class="animate-blink-slow">:</span>00 AM<span
          class="hidden xl:inline">(CET)</span
        >
      </p>
    </li>
  </ul>
</footer>
<style>
.quick-menu-icon{
  
  #right-mouse-btn-icon{
    @apply fill-primary;
    @apply animate-pulse;
  }
}
</style>
<script>
  import { $ } from '../app/utils'

  const clockEl = $('#clock')

  function updateClock() {
    const now = new Date()
    const timeString = now.toLocaleString('en-US', {
      timeZone: 'Europe/Rome',
      hour12: true,
      hour: 'numeric',
      minute: 'numeric',
    })
    clockEl.innerHTML = `${timeString.replace(/:/g, '<span class="animate-blink-slow">:</span>')} <span class="hidden xl:inline">(CET)</span>`
  }

  updateClock()
  setInterval(updateClock, 10 * 1000) // every 10 seconds
</script>

