---
interface Props {}

const {} = Astro.props
---

<div class="z-10 bg-background-dark md:bg-transparent fixed left-0 inset-x-0 bottom-0 w-screen h-16"></div>

<footer class="z-10 bottom-2 fixed md:bottom-8 left-0 w-full text-xs text-inactive">
  <ul class="grid grid-cols-12 items-center">
    <li
      class="col-span-5 col-start-2 row-span-1 row-start-1 lg:col-span-1 lg:col-start-1 lg:text-right select-none"
    >
      <p class="lg:mr-3">v2024.0.1</p>
    </li>
    <div class="absolute left-0 right-0 hidden justify-center sm:flex">
      <p>QUICK MENU</p>
    </div>
    <li
      class="col-span-5 col-start-7 row-span-1 row-start-1 justify-start lg:col-span-1 lg:col-start-12 lg:flex lg:ml-2"
    >
      <p id="clock" class="min-w-24 text-right lg:text-left select-none" >
        00<span class="animate-blink-slow">:</span>00 AM<span class="hidden xl:inline">(CET)</span>
      </p>

    </li>
  </ul>
</footer>
<script>
import { $ } from '../app/utils'

const clockEl = $('#clock')

function updateClock() {
  const now = new Date()
  const timeString = now.toLocaleString('en-US', {
    timeZone: 'Europe/Rome',
    hour12: true,
    hour: 'numeric',
    minute: 'numeric'
  })
  clockEl.innerHTML = `${timeString.replace(/:/g, '<span class="animate-blink-slow">:</span>')} (CET)`
}

updateClock()
setInterval(updateClock, 10 * 1000) // every 10 seconds
</script>
