---
import Btn from './Btn.astro'
import StatusItem from './StatusItem.astro'
import WorksBtn from './WorksBtn.astro'
interface Props {}

const {} = Astro.props
---

<main
  class="my-12 grid h-full w-full flex-1 grid-cols-12 grid-rows-5"
>
  <section
    class="col-span-10 col-start-2 row-span-2 row-start-2 flex flex-col content-start justify-end text-xs"
  >
    <div class="flex justify-between text-center lg:text-left">
      <div class="">
        <h2 class="text-primary">> whoami</h2>
        <p class="text-stone-300 lg:max-w-64">
          I’m just the quiet, value-centered guy that gets the work done. My
          interests range from front-end web development all the way down to
          reverse engineering, to mountain biking. Sounds interesting?
        </p>
        <Btn class="mb-14 mr-auto mt-2">READ MORE</Btn>
      </div>
      <div class="hidden mb-14 lg:flex">
        <WorksBtn />
      </div>
    </div>
  </section>
  <section class="hidden col-span-10 col-start-2 row-start-4 row-span-2 font-mono font-black">
    <h1
      class="ml-[-0.05em] text-nowrap font-display text-[9.2vw] leading-[100%]"
    >
      DOMINICK VALE
    </h1>
    <!-- <h1 class="sr-only">DOMINICK VALE</h1> -->
    <!-- <img class="mt-6" src={nameSvg.src} /> -->
    <div class="mt-4 lg:mt-6 flex justify-between gap-[7%] text-sm">
      <ul>
        <StatusItem highlight>FRONT-END DEVELOPER</StatusItem>
        <StatusItem highlight>CREATIVE DEVELOPER</StatusItem>
        <StatusItem>WANNABE ARTIST</StatusItem>
        <StatusItem>LEARNER</StatusItem>
      </ul>
      <ul>
        <StatusItem highlight
          >STATUS: <span class="text-success">AVAILABLE</span></StatusItem
        >
      </ul>
      <ul class="ml-[32%] hidden md:block">
        <div class="flex flex-col"></div>
        <StatusItem highlight>AWARDS:</StatusItem>
        <p class="font-mono text-xs font-normal text-inactive">
          COMING SOON :)
        </p>
      </ul>
    </div>
      <div class="mt-6 flex justify-center lg:hidden">
        <WorksBtn />
      </div>
  </section>
</main>
