---
import Btn from '../components/Btn.astro'
interface Props {}

const {} = Astro.props

const fib = () => {
}
---

<main class="grid grid-cols-layout grid-rows-5 gap-x-2 gap-y-5 flex-1 h-full w-full">
  <section class="info col-start-2 col-span-2 row-start-3 text-xs">
    <h2 class="text-primary">> whoami</h2>
    <p class="text-stone-300">
      I’m just the quiet, value-centered guy that gets the work done. My
      interests range from front-end web development all the way down to reverse
      engineering, to mountain biking, and back to drawing...
    </p>
    <Btn class="mt-2">READ MORE</Btn>
  </section>
  <section class="works col-start-11 row-start-3">
    <div class="flex justify-end">
      <a class="" href="/works">WORKS</a>
    </div>
  </section>
  <section
    class="title font-display font-black col-start-2 row-start-4 col-span-12"
  >
    <h1 class="text-[130px] leading-[100%]">DOMINICK VALE</h1>
  </section>
  <section class="col-start-2 row-start-5 col-span-1">
    <ul class="">
      <li>FRONT-END DEVELOPER</li>
      <li>CREATIVE DEVELOPER</li>
      <li>WANNABE ARTIST</li>
      <li>LEARNER</li>
    </ul>
  </section>
</main>

<style>
.status-item {
  &-active {
    color: white;
  }
  &::before{
    content: "";
  }
}
</style>
