---
//@TODO: implement animation + infinite
import type { HTMLAttributes } from 'astro/types'

type Props = {
  tags: string[]
} & HTMLAttributes<'div'>

const { tags, class: classes } = Astro.props
---

<div class:list={['marquee-container absolute left-0 right-0 top-0 min-w-max bg-background-dark-05 pt-1.5 text-xxs text-white', classes]}>
  <div class="marquee flex gap-3">
    {
      Array.from(Array(5).keys()).map((_) => (
        <span class="flex flex-nowrap items-center gap-3">
          {tags.map((t) => (
            <>
              <span class="marquee-tag">{t}</span>
              <div class="marquee-dot" />
            </>
          ))}
        </span>
      ))
    }
  </div>
</div>

<style is:global>
  .marquee-tag {
    position: relative;
    @apply ml-1;
  }

  .marquee-dot {
    height: 0.2rem;
    width: 0.2rem;
    border-radius: 50%;
    background-color: white;
    opacity: 70%;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
</style>
