---
import type { HTMLAttributes } from 'astro/types'

type Props = {
  tags: string[]
} & HTMLAttributes<'div'>

const { tags, class: classes } = Astro.props
---

<div
  class:list={[
    'marquee absolute left-0 right-0 top-0 flex min-w-max flex-nowrap items-center gap-3 bg-background-dark text-xxs text-white',
    classes,
  ]}
>
  {
    tags.map((t) => (
      <>
        <span class="marquee-tag relative ml-1">{t}</span>
        <div class="marquee-dot h-[0.2rem] w-[0.2rem] rounded-full bg-white opacity-70" />
      </>
    ))
  }
</div>
