---
interface Props {}

const {} = Astro.props
---

<nav id="navbar" aria-label="Main navigation" class="fixed left-0 z-20 mt-6 w-full text-xs text-inactive opacity-0 sm:mt-12">
  <ul class="grid grid-cols-12 font-light">
    <li class="nav-link col-span-1 col-start-2 row-start-1 text-right sm:col-span-2 sm:col-start-2 sm:mr-2 md:col-start-1 md:col-span-1 md:justify-end flex">
      <a href="/" aria-current="page" data-text-scramble="HOME" data-text-scramble-audio="typing pan:-0.5 volume:0.1 rate:2">HOME</a>
    </li>
    <li class="col-start-2 col-span-10 row-start-1 flex justify-center">
      <ul class="hidden gap-10 xs:flex">
        <li class="nav-link w-6">
          <a href="/works" data-text-scramble="WORKS" data-text-scramble-audio="typing pan:-0.25 volume:0.1 rate:2">WORKS</a>
        </li>
        <li class="nav-link w-6">
          <a href="/blog" data-text-scramble="BLOG" data-text-scramble-audio="typing pan:0 volume:0.1 rate:2">BLOG</a>
        </li>
        <li class="nav-link w-6">
          <a href="/lab" data-text-scramble="LAB" data-text-scramble-audio="typing pan:0.25 volume:0.1 rate:2">LAB</a>
        </li>
      </ul>
    </li>
    <li class="nav-link col-span-2 col-start-10 row-start-1 flex justify-end md:col-span-1 md:col-start-12 md:justify-start">
      <a href="/contact" class="mix-blend-difference" data-text-scramble="CONTACT" data-text-scramble-audio="typing pan:0.5 volume:0.1 rate:2">CONTACT</a>
    </li>
  </ul>
</nav>

<style>
nav li a {
  position: relative;
  display: inline-block;
  width: max-content;
}

nav li a.active {
  @apply font-normal;
}

nav li a.active::before {
  content: '';
  position: absolute;
  left: -50%;
  top: 35%;
  background-color: theme('colors.primary');
  height: theme('height.1');
  width: theme('height.1');
  @apply animate-fui-flash;
}

nav li a.active  {
  @apply text-white;
}

nav li a:hover {
  @apply text-white;
}
</style>
