---
import type { ComponentProps } from 'astro/types'
import Btn from '../components/Btn.astro'

interface Props extends ComponentProps<typeof Btn> {}

const props = Astro.props
---

<div class="next-page-btn items-center">
  <Btn
    innerClass="!items-start pl-0 flex-col"
    data-audio
    data-audio-stopon="mouseout mousedown"
    data-audio-mouseover="vibration loop fadeIn:0.7 fadeOut:0.5 pan:0.5 volume:0.2"
    data-audio-click="vibration-click pan:0.5 volume:0.3"
    {...props}
  >
    <div class="pointer-events-none mb-1 flex w-[96%] items-center justify-between gap-2 sm:mr-4 sm:w-auto sm:justify-center">
      <svg class="opacity-30" width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4.48202 3.99987L0.741077 0.258921L3.2589 0.258921L6.2445 3.24452L5.48915 3.99987L6.2445 4.75521L3.25877 7.74095L0.740947 7.74095L4.48202 3.99987Z"
          fill="white"></path>
      </svg>
      <svg class="opacity-30" width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4.48202 3.99987L0.741077 0.258921L3.2589 0.258921L6.2445 3.24452L5.48915 3.99987L6.2445 4.75521L3.25877 7.74095L0.740947 7.74095L4.48202 3.99987Z"
          fill="white"></path>
      </svg>
      <svg class="opacity-30" width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4.48202 3.99987L0.741077 0.258921L3.2589 0.258921L6.2445 3.24452L5.48915 3.99987L6.2445 4.75521L3.25877 7.74095L0.740947 7.74095L4.48202 3.99987Z"
          fill="white"></path>
      </svg>
    </div>
    <p class="pointer-events-none"><slot /></p>
  </Btn>
</div>

<style>
  .next-page-btn.animating {
    p {
      @apply animate-fui-flash;
    }
    --duration: 3s;
    --delay: calc(var(--duration) / 12);
    svg:nth-child(1) {
      animation: wave var(--duration) ease-in-out infinite;
    }
    svg:nth-child(2) {
      animation: wave var(--duration) ease-in-out infinite var(--delay);
    }
    svg:nth-child(3) {
      animation: wave var(--duration) ease-in-out infinite calc(var(--delay) * 2);
    }
  }
  @keyframes wave {
    20% {
      opacity: 1;
    }

    40%,
    100% {
      opacity: 0.3;
    }
  }
</style>
