---
const { highlight, filled, class: classes, ...props } = Astro.props
---

<li class:list={['status-item relative pl-3 text-xs font-normal text-inactive min-w-60 min-h-4', { highlight }, { filled }, classes]} data-menu-trigger="text" {...props}>
  <slot />
</li>
<style>
  .status-item {
    &.highlight {
      color: white;
      font-weight: 900;
      &::before {
        background-color: white;
        border-color: white;
      }
    }
    &.filled::before {
      background-color: grey;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 33%;
      background-color: transparent;
      border: 1px solid grey;
      height: 0.32rem;
      width: 0.32rem;
    }
  }
</style>
