---
const { highlight, class: classes } = Astro.props
---

<li
  class:list={[
    'status-item relative pl-3 text-xs font-normal text-inactive',
    { highlight },
    classes
  ]}
  data-menu-trigger="text"
>
  <slot />
</li>
<style>
  .status-item {
    &.highlight {
      color: white;
      font-weight: 900;
      &::before {
        background-color: white;
        border-color: white;
      }
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 33%;
      background-color: transparent;
      border: 1px solid grey;
      height: 0.32rem;
      width: 0.32rem;
    }
  }
</style>
