---
import Btn from './Btn.astro'
type Props = {
  title: string;
  subtitle: string;
  bgText: string;
}

const { title, subtitle, bgText } = Astro.props
---

<div class="col-span-10 col-start-2 flex flex-col items-center justify-end pb-[10vh]">
  <h2
    class="font-black tracking-button text-white text-base mb-2 text-center"
  >
{title}
  </h2>
  <p class="text-white opacity-80 text-sm text-center">{subtitle}</p>
  <Btn href="/home" class="mt-6 w-36" frame><span>GO HOME</span></Btn>
  <h1 class="opacity-30 font-outline font-black font-display text-[30vw] xs:text-9xl leading-relaxed md:text-[25vw] text-[#151212] md:leading-[100%] tracking-[3vw] pointer-events-none">{bgText}</h1>
</div>
