---
import Btn from './Btn.astro'
type Props = {
  title: string
  subtitle: string
  bgText: string
}

const { title, subtitle, bgText } = Astro.props
---

<div class="col-span-10 col-start-2 flex flex-col items-center justify-end pb-[10vh] mt-[10vh] lg:mt-0">
  <h2 class="mb-2 text-center text-base font-black tracking-button text-white">
    {title}
  </h2>
  <p class="text-center bg-background-dark text-sm text-white opacity-80">{subtitle}</p>
  <Btn
    href="/"
    class="bg-blur-harder mt-6 !h-11 w-40 justify-center"
    frame
    data-audio
    data-audio-stopon="mouseout mousedown"
    data-audio-mouseover="vibration loop fadeIn:0.7 fadeOut:0.5 pan:-0.25 volume:0.5"
    data-audio-click="vibration-click pan:-0.25 volume:0.2"><span>GO HOME</span></Btn
  >
  <h1
    class="font-outline pointer-events-none ml-[3vw] font-display text-[30vw] font-black leading-relaxed tracking-[3vw] text-[rgb(15,15,15)] opacity-50 md:text-[20vw] md:leading-[100%]"
    aria-label={bgText}
  >
    {bgText}
  </h1>
</div>
