---
import Btn from './Btn.astro'
---

<div class="col-span-12 col-start-1 flex flex-col items-center justify-end">
  <h2
    class="font-black tracking-button text-white text-base mb-2"
  >
    YOU GOT ME.
  </h2>
  <p class="text-white opacity-80 text-sm">This page isn't finished yet. Come back later :)</p>
  <Btn href="/home" class="flex justify-center items-center mt-4 text-center" frame>GO HOME</Btn>
  <h1 class="opacity-30 font-outline font-black font-display text-[25vw] text-[#151212] leading-[100%] tracking-[3vw]">WIP</h1>
</div>
