---
import Btn from './Btn.astro'
interface Props {}

const {} = Astro.props
---

<pre class="col-start-2 col-span-2  mt-[10vh] opacity-50 uppercase text-xs block">
    {
      `
{
    // loading proj_id: 001
    // done.
    // rendering data
    // . . .
    // add obj(“img_003.jpg”)
    // done.
}      `
    }
</pre>

<div>
  <img src="" alt="">
</div>
<h1 class="col-start-2 col-span-10 mt-auto font-black font-display text-[4vw]">NAME OF PROJECT</h1>
