---
import type { Frontmatter } from '../content/config'

type Props = {
  small?: boolean
  project: Frontmatter
}

const { small, project } = Astro.props
---

{
  small ? (
    <table class="w-full flex-1 text-xs">
      <tbody class="flex w-full justify-between">
        <tr class="flex flex-col">
          <th class="pl-0 pr-3 text-left tracking-widest text-primary-darker">ROLE:</th>
          <td class="work-details-role opacity-0">{project?.role}</td>
        </tr>
        <tr class="flex flex-col justify-center">
          <th class="pl-0 text-left tracking-widest text-primary-darker">CLIENT:</th>
          <td class="work-details-client text-center opacity-0">{project?.client}</td>
        </tr>
        <tr class="flex flex-col">
          <th class="text-right tracking-widest text-primary-darker">YEAR:</th>
          <td class="work-details-year pr-1 min-w-full text-right opacity-0">{project?.year}</td>
        </tr>
      </tbody>
    </table>
  ) : (
    <table class="flex-1 text-xs">
      <tbody class="grid min-w-[30vw] grid-cols-[1fr_2fr] items-start gap-4">
        <tr class="grid grid-cols-[3.5rem_1fr] gap-1">
          <th class="animate-fui-flash pl-0 pr-3 text-left tracking-widest text-primary-darker">ROLE:</th>
          <td class="work-details-role text-left" />
          <th class="pl-0 pr-3 text-left tracking-widest text-primary-darker">CLIENT:</th>
          <td class="work-details-client text-left" />
        </tr>
        <tr class="grid w-full grid-cols-[3rem_1fr] gap-1">
          <th class="pl-0 pr-3 text-left tracking-widest text-primary-darker">YEAR:</th>
          <td class="work-details-year text-left" />
          <th class="min-h-16 pl-0 pr-3 text-left tracking-widest text-primary-darker">TECH:</th>
          <td class="work-details-tech min-w-32 text-left" />
        </tr>
      </tbody>
    </table>
  )
}
