---
type Props = {
  small?: boolean
}

const { small } = Astro.props
---

{
  small ? (
    <table class="w-full text-xxs flex-1">
      <tbody class="flex w-full justify-between">
        <tr class="flex flex-col">
          <th class="pl-0 pr-3 text-left tracking-widest text-primary-darker">
            ROLE:
          </th>
          <td class="opacity-80 work-details-role">EVERYTHING</td>
        </tr>
        <tr class="flex flex-col justify-center">
          <th class="pl-0 text-left tracking-widest text-primary-darker">CLIENT:</th>
          <td class="text-center opacity-80 work-details-client">N/A</td>
        </tr>
        <tr class="flex flex-col">
          <th class="text-right tracking-widest text-primary-darker">YEAR:</th>
          <td class="pr-1 text-right opacity-80 work-details-year">2020—ONGOING</td>
        </tr>
      </tbody>
    </table>
  ) : (
    <table class="flex-1 text-xs">
      <tbody class="grid min-w-[50%] grid-cols-[1fr_2fr] items-start gap-4">
        <tr class="grid grid-cols-[3rem_1fr] gap-1">
          <th class="pl-0 pr-3 text-left text-primary-darker">ROLE:</th>
          <td class="text-left work-details-role">EVERYTHING</td>
          <th class="pl-0 pr-3 text-left text-primary-darker">CLIENT:</th>
          <td class="text-left work-details-client">N/A</td>
        </tr>
        <tr class="grid w-full grid-cols-[3rem_1fr] gap-1">
          <th class="pl-0 pr-3 text-left text-primary-darker">YEAR:</th>
          <td class="text-left work-details-year">2020—ONGOING</td>
          <th class="pl-0 pr-3 text-left text-primary-darker">TECH:</th>
          <td class="min-w-32 text-left work-details-tech">
            REACT-NATIVE, FIREBASE, ANDROID NDK, JSI, C++, REVENUECAT, KOTLIN
          </td>
        </tr>
      </tbody>
    </table>
  )
}
