<!-- this thing has a bunch of hacks since mdx + astro
apparently isn't supposed to be used for anything more complex than a 1 column, simple blog layout -->
<div class="blog-section col-span-12 col-start-1 flex grid-cols-10 flex-col gap-3 md:mt-[10vh] lg:grid lg:gap-0 xl:mt-[20vh]">
  <slot />
  <!-- all the css in the children doesn't work -->
</div>

<!-- astro doesn't support styling children through slots in a scope, so it must be global ":D-->
<style is:global>
  .blog-section {
    position: relative;
    max-height: max-content;
    grid-template-areas: 'image image image image . . content content content content';
    .blog-image {
      grid-area: image;
      max-height: max-content;
    }
    &:nth-child(even) {
      grid-template-areas: 'content content content content . . image image image image';
    }

p,li {
      @apply text-sm;
      @apply font-copy;
      @apply text-copy;
      @apply tracking-wide;
      @apply font-light;
      @apply xl:text-lg;
    }

    ul {
      list-style: upper-roman;
    }

    li {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  .blog-section:nth-child(even) {
    .img-small-left {
      left: auto;
      top: 20%;
      right: -3.9rem;
      transform: rotate(90deg);
    }
  }
</style>
