<h2
  class="blog-section-header relative col-span-4 col-start-7 row-start-1 mb-3 font-mono text-base font-black uppercase tracking-button sm:text-lg xl:text-xl"
>
  <slot />
</h2>
<style>
  .blog-section-header::before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 0.8rem;
    background-color: theme('colors.primary');
    height: theme('height.1');
    width: theme('height.1');
  }
</style>
