<!-- this thing has a bunch of hacks since mdx + astro
apparently isn't supposed to be used for anything more complex than a 1 column, simple blog layout -->
<div class="blog-section col-span-12 col-start-1 mt-[10vh] grid grid-cols-12">
  <slot />
  <!-- all the css in the children doesn't work -->
</div>

<!-- astro doesn't support styling children through slots in a scope, so it must be global ":D-->
<style is:global>
  .blog-section {
    max-height: max-content;
    grid-template-areas: '. image image image image . . content content content content .';
    .blog-image {
      grid-area: image;
      max-height: max-content;
    }
    &:nth-child(even) {
      grid-template-areas: '. content content content content . . image image image image .';
    }
    h2 {
      @apply uppercase;
    }
    p {
      @apply text-lg;
      @apply font-copy;
      @apply text-copy;
      @apply tracking-wide;
      @apply font-light;
    }
  }
</style>
