---
import type { HTMLAttributes } from 'astro/types'
import Btn from '../Btn.astro'
import VisitIcon from '../icons/Visit.astro'
type Props = {
  link?: string
} & HTMLAttributes<'a'>

const { link, class: classes, ...props } = Astro.props
---

<a
  href={link}
  target="_blank"
  class:list={['relative min-w-[50%] min-h-12 items-center justify-center opacity-90 flex', classes]}
  aria-label="Open project"
  data-audio
  data-audio-stopon="mouseout mousedown"
  data-audio-click="vibration-click pan:-0.5 volume:0.3"
  {...props}
>
  <Btn class="h-full w-full gap-3 whitespace-nowrap text-nowrap" innerClass="flex gap-3" data-text-scramble="OPEN PROJECT"> OPEN PROJECT</Btn>
  <div class="pointer-events-none absolute left-0 top-0 h-full w-full shadow">
    <div class="relative flex h-full w-full items-center justify-center gap-10 shadow-inner">
      <VisitIcon />
      <Btn
        class="opacity-0"
      >
        VISIT PROJECT</Btn
      >
    </div>
  </div>
  <!-- <div class="fui-corners"></div> -->
</a>

<style>
  a .shadow-inner {
    transition: gap 90ms ease-in-out;
  }
  a:hover .shadow-inner {
    gap: 2rem;
  }
</style>
