---
import type { HTMLAttributes } from 'astro/types'
import Btn from '../Btn.astro'
type Props = {
  link?: string
} & HTMLAttributes<'a'>

const { link, class: classes, ...props } = Astro.props
---

<a href={link} target="_blank" class:list={['relative items-center justify-center opacity-90 min-w-[50%]', classes]} aria-label="Open project" {...props}>
  <Btn class="h-full w-full gap-3 text-nowrap whitespace-nowrap" innerClass="flex gap-3" data-text-scramble="OPEN PROJECT"> OPEN PROJECT</Btn>
  <div class="pointer-events-none absolute left-0 top-0 h-full w-full shadow">
    <div class="relative flex h-full w-full items-center justify-center gap-10 shadow-inner">
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M10.5813 7.07027L5.29069 1.77962L8.85149 1.77966L13.0739 6.00206L12.0057 7.07028L13.0739 8.13854L8.85144 12.361L5.29065 12.361L10.5813 7.07027Z"
          fill="#D9D9D9"></path>
      </svg>
      <Btn class="opacity-0"> OPEN PROJECT</Btn>
    </div>
  </div>
  <!-- <div class="fui-corners"></div> -->
</a>

<style>
  a .shadow-inner {
    transition: gap 90ms ease-in-out;
  }
  a:hover .shadow-inner {
    gap: 2rem;
  }
</style>
