---
import '../style/main.css'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import Contacts from '../components/Contacts.astro'
import RadialMenu from '../components/RadialMenu/Menu.astro'
import MenuSlice from '../components/RadialMenu/MenuSlice.astro'
import { ContactIcon, LabIcon, HomeIcon, ProjectsIcon, SettingsIcon, AboutIcon, RssIcon} from '../components/icons'

interface Props {
  title: string
  rowsMax?: boolean
  withContacts?: boolean
}

const { title, rowsMax, withContacts } = Astro.props

// @TODO: add custom conntent for AI web crawlers
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio 2024" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>WIP PORTFOLIO</title>
  </head>
  <!-- fonts -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  </style>
  <body id="app" class="relative flex max-h-screen flex-col font-body">
    <canvas id="webgl" class="fixed top-0 z-0 h-full w-full bg-red-500"
    ></canvas>
    <Navbar />
    <main
      class:list={[
        'z-10 my-12 grid h-full w-full flex-1 grid-cols-12',
        rowsMax && 'auto-rows-max',
      ]}
    >
      <RadialMenu id="main-menu-6" size="15vw">
        <MenuSlice id="rmenu-home">
          <HomeIcon/>
          <a href="/">HOME</a>
        </MenuSlice>
        <MenuSlice>
          <ProjectsIcon/>
          <a href="/works">WORKS</a>
        </MenuSlice>
        <MenuSlice>
          <AboutIcon/>
          <a href="/about">ABOUT</a>
        </MenuSlice>
        <MenuSlice>
          <RssIcon/>
          <a href="/blog">BLOG</a>
        </MenuSlice>
        <MenuSlice>
          <ContactIcon />
          <a href="/contact">CONTACT</a>
        </MenuSlice>
        <MenuSlice>
          <SettingsIcon />
          <a href="/contact">SETTINGS</a>
        </MenuSlice>
      </RadialMenu>
      <slot />
    </main>
    {
      withContacts && (
        <div class="z-10 col-span-12 col-start-1 mt-8 grid min-h-[100vh] w-full flex-1 grid-cols-12">
          <Contacts />
        </div>
      )
    }
    <Footer />
  </body>
  <script>
    import '../app'
    import Menu from '../components/RadialMenu/Menu'
    window.addEventListener('DOMContentLoaded', () => {
      const menu6 = new Menu('main-menu-6', { position: { x: 800, y: 300 } })
      setTimeout(() => {
        // menu6.size = '20vw'
      }, 2000)
    })
    document.querySelector('#rmenu-home').addEventListener('click', () => {
      
      console.log("CLICK")
    })
  </script>
</html>
