---
import '../style/main.css'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import Contacts from '../components/Contacts.astro'
import RadialMenu from '../components/RadialMenu.astro'
import { ContactIcon, LabIcon, HomeIcon, WorksIcon, SettingsIcon, AboutIcon, BlogIcon, CopyIcon, ContextMenuIcon, DebugIcon, AudioIcon} from '../components/icons'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {
  title: string
  rowsMax?: boolean
  withContacts?: boolean
  blurred?: boolean
}

const { title, rowsMax, withContacts, class: classes, blurred, ...props } = Astro.props

// @TODO: add custom content for AI web crawlers
// @TODO: fix perf on mobile (change particles, and maybe figure out why we get some artifacts)
// @TODO find better ways to blur bg
---

<!doctype html>
<html lang="en" class="overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio 2024" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>WIP PORTFOLIO</title>
  </head>
  <!-- fonts -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  </style>
  <body id="app" class:list={[ "relative flex max-h-screen flex-col font-body overscroll-none", classes ] } {...props}>
    <canvas id="webgl" class="fixed top-0 z-0 h-full w-full bg-red-500"
    ></canvas>
    { blurred && <div class="bg-blur-harder bg-transparent fixed inset-x-0 inset-y-0 z-[0]" />}
    <Navbar/>
    <main
      class:list={[
        'z-10 my-12 grid h-full w-full flex-1 grid-cols-12',
        rowsMax && 'auto-rows-max',
      ]}
    >
      <slot />
    </main>
    {
      withContacts && (
        <div class="z-10 col-span-12 col-start-1 mt-8 grid min-h-[100vh] w-full flex-1 grid-cols-12">
          <Contacts />
        </div>
      )
    }
    <Footer />
    <div id="_icons" class="hidden">
      <HomeIcon />
      <WorksIcon />
      <AboutIcon />
      <BlogIcon />
      <ContactIcon />
      <LabIcon />
      <SettingsIcon />
      <CopyIcon/>
      <ContextMenuIcon/>
      <DebugIcon/>
      <AudioIcon/>
    </div>
    <RadialMenu id="text" size="calc(10rem + min(30vw, 10vh))" />
    <RadialMenu id="default" size="calc(10rem + 10vw)" />
    <RadialMenu id="default-blog" size="calc(10rem + 10vw)" />
    <RadialMenu id="default-mobile" size="calc(10rem + 50vw)" mobile/>
    <!-- <RadialMenu id="default-blog-mobile" size="calc(10rem + 50vw)" mobile/> -->
    <RadialMenu id="settings" size="calc(10rem + 5vw)" />
  </body>
  <script>
    import '../app'
  </script>
</html>
